*,
::before
::after{
    margin: 0;
    padding: 0;
}
body{
    align-items: center;
    justify-content: center;
    height: 100vh;
}
main{
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #a7eb74;
    width: 380px;
    padding: 130px 5px;
    border-radius: 16px;
}
main p{
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 0;
    margin-bottom: 25px;
    margin-top: -50px;
    z-index: 1;
    visibility: hidden;
    color: #a7eb74;
}
.show{
    visibility: visible;
    background-color: #a7eb74;
    color: green;
    transition: color 3s;
}
main h3{
    color: green;
    font-size: 40px;
    margin: 25px 0;
}
main button{
    padding: 5px 8px;
    font-size: 15px;
    border-radius: 7px;
    margin: 15px 2px ;
    box-shadow: none;
    outline: none;
    border: 1px solid #f1f1f1;
    color: #ffffff;
    transition: 0.3s;
}
main button:hover{
    opacity: 0.7;
}

.increase{
    padding: 5px 8px;
    background-color: green;
    font-size: 20px;
    cursor: grab;
}
.reset{
    background-color: blue;
}
details{
    cursor: pointer;
}
